<!DOCTYPE html>
<html lang="es">
    
    <% include("../partials/head")  %> 

<body>
    <% include("../partials/header")  %> 
    <main>
        <article class="container-main">
            <h2 id='titulos-1'>Producto Nuevo</h2>
            <section class="container-info">
                <section class='navbar'>
                    <section>
                        <div>
                            <input class='navbar-text' type='text' placeholder="Titulo, SKU, etc" name='busqueda'>
                        </div>
                    </section>
                </section>
                <select class='container-input' placeholder>
                    <option>Filtrar Por Marca</option>
                    <option>Alita</option>
                    <option>Antoinette</option>
                    <option>A Pie</option>
                    <option>Araquina</option>
                    <option>Austri</option>
                    <option>Avance bs as</option>
                    <option>Azaleia</option>
                    <option>Azzira</option>
                    <option>Battaglia Laguna</option>
                    <option>Becca Shoes</option>
                    <option>Otro</option>
                </select>
                <select class='container-input' placeholder>
                    <option>Filtrar por Color</option>
                    <option>Amarillo</option>
                    <option>Azul</option>
                    <option>Beige</option>
                    <option>Blanco</option>
                    <option>Bordó</option>
                    <option>Bronce</option>
                    <option>Camel</option>
                    <option>Celeste</option>
                    <option>Cobre</option>
                    <option>Coral</option>
                    <option>Fucsia</option>
                </select>
                <select class='container-input' placeholder>
                    <option>Filtrar por Temporada</option>
                    <option>Todas las Temporadas</option>
                    <option>Pre verano</option>
                    <option>Invierno</option>
                    <option>Otoño-Invierno</option>
                    <option>Pre invierno</option>
                </select>
                <select class='container-input' placeholder>
                    <option>Filtrar por Material</option>
                    <option>Sintético</option>
                    <option>Cuero</option>
                    <option>Gamuza</option>
                    <option>Textil</option>
                    <option>Lona</option>
                </select>
                </section>
                <section class="container-info">
                    <label class='principal-label'>Titulo</label>
                    <label class='principal-label'>Canitdad</label>
                    <label class='principal-label'>Precio Unitario</label>
                    <label class='principal-label'>SKU</label>
                    <label class='principal-label'>Estado</label>
                </section>

                <article class="container-item">
                    <section>
                        <p>Articulo 1 <i class="fas fa-edit"></i></p>
                    </section>
                    <section>
                        <p>3</p>
                    </section>
                    <section class="container-price">
                        <p>$960</p>
                    </section>
                    <section>
                        <p>AA.001.L</p>
                    </section>
                    <section>
                        <p>Activa</p>
                    </section>
                </article>
                
                <article class="container-item">
                    <section>
                        <p>Articulo 2 <i class="fas fa-edit"></i></p>
                    </section>
                    <section>
                        <p>9</p>
                    </section>
                    <section class="container-price">
                        <p>$1500</p>
                    </section>
                    <section>
                        <p>AA.002.L</p>
                    </section>
                    <section>
                        <p>Inactiva</p>
                    </section>
                </article>
           
                <article class="container-item">
                    <section>
                        <p>Articulo 3 <i class="fas fa-edit"></i></p>
                    </section>
                    <section>
                        <p>7</p>
                    </section>
                    <section class="container-price">
                        <p>$1700</p>
                    </section>
                    <section>
                        <p>AA.003.L</p>
                    </section>
                    <section>
                        <p>Activa</p>
                    </section>
                </article>
                                
                <article class="container-item">
                    <section>
                        <p>Articulo 4 <i class="fas fa-edit"></i></p>
                    </section>
                    <section>
                        <p>31</p>
                    </section>
                    <section class="container-price">
                        <p>$1500</p>
                    </section>
                    <section>
                        <p>AA.004.L</p>
                    </section>
                    <section>
                        <p>Activa</p>
                    </section>
                </article>
                
                <article class="container-item">
                    <section>
                        <p>Articulo 5 <i class="fas fa-edit"></i></p>
                    </section>
                    <section>
                        <p>1</p>
                    </section>
                    <section class="container-price">
                        <p>$900</p>
                    </section>
                    <section>
                        <p>AA.005.L</p>
                    </section>
                    <section>
                        <p>Inactiva</p>
                    </section>
                </article>
           
                <article class="container-item">
                    <section>
                        <p>Articulo 6 <i class="fas fa-edit"></i></p>
                    </section>
                    <section>
                        <p>10</p>
                    </section>
                    <section class="container-price">
                        <p>$400</p>
                    </section>
                    <section>
                        <p>AA.006.L</p>
                    </section>
                    <section>
                        <p>Activa</p>
                    </section>
                </article>
            </section>
        </article>
    </main>
    
</body>
</html>