<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Sandy</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">Politica de Privacidad</a></li>
                    <li><a href="#">Tiendas Fisicas</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Comprar</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Estado de Pedidos</a></li>
                    <li><a href="#">Opciones de Pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tienda Online</h4>
                <ul>
                    <li><a href="#">Crocs</a></li>
                    <li><a href="#">Sandalias</a></li>
                    <li><a href="#">Suecos</a></li>
                    <li><a href="#">Otros</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Redes Sociales</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

    <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
      
   <!-- jquery cdn link  -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
   <!-- owl carousel js file cdn link  -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
   <!-- custom js file link  -->
   <script src="views/web/carrousel.js"></script>
