<footer>

    <div class="top">
        <figure class="logo"><img src="/images/logo-sandy-4.png"  alt="Logo sandals"></figure>
        
        <div class="container-footer">
            <div class="container-footer2">            
                <div class="block">
                    <h4>Comprar</h4>
                    <ul>
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Información Sobre Envíos</a></li>
                        <li><a href="#">Devoluciones</a></li>
                        <li><a href="#">Política de Pagos</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4>Sandy</h4>
                    <ul>
                        <li><a href="#">Sucursales</a></li>
                        <li><a href="#">Trabaja con Nosotros</a></li>
                        <li><a href="#">Declaracion de Cookies</a></li>
                        <li><a href="#">Tarjeta de Descuentos</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4>Seguinos</h4>
                    <div class="socialref">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <section>
                <p id="Copyright">Copyright ©2021 Sandy Grupo 8. Todos los derechos reservados. Sandy S.R.L. Av. de libertador 959, Ciudad de Buenos Aires.</p> 
            </section>
        </div>
    </div>

    <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>



    </footer>
    
  
  
  