<footer>
    <section id="footcontainer">
    <section class="columnas-foot">
        <div class="icofoot"><i class="fas fa-credit-card" ></i></div>
        <h3 class="titfoot">Paga con tarjeta o en efectivo</h3>
        <p class="textfoot">    Con Mercadoliebre tenes cuotas sin interes con tarjeta o efvo en puntos de pago Y siempre es seguro!</p>
    </section>
    <section class="columnas-foot">
        <p class="icofoot"><i class="fas fa-gift"></i><p>
        <h3 class="titfoot">Envío gratis desde $ 2.500</h3>
        <p class="textfoot">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="columnas-foot">
        <p class="icofoot"><i class="fas fa-user-shield"></i></p>
        <h3 class="titfoot">Seguridad, de principio a fin</h3>
        <p class="textfoot">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    </section>
    <p id="Copyright">Copyright ©2021 Sandies Grupo 8. Todos los derechos reservados. Sandies S.R.L. Av. de libertador 959, Ciudad de Buenos Aires.
        </p> 


</footer>
  
  
  