<header class="encabezado">
    <section class="top">
                <figure class="logo"><img src="/images/logo-sandy.png"  alt="Logo sandals"></figure>

                <form class="barbusqueda" action="/action_page.php">
                <input type="text" placeholder="Buscar calzado..." name="Buscar">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a class="barras" href="#"><i class="fas fa-bars"></i></a>
                <section class="cuotas"><i class="fas fa-phone"></i> Tel.0-800-5403-2039 </section>
    </section>

    <nav class="caja-menu">
        <section class="menu">
        <ul class="opciones">
            <li><a href="/">Inicio</a></li>
            <li id="tiendas"><a href="#" target="__blank">Hombre</a></li>
            <li><a href="#" target="__blank">Dama</a></li>
            <li><a href="#" target="__blank">Ofertas</a></li>
            <li><a href="/administrar" target="__blank">Admin</a></li>

        </ul>
        <ul class="opciones2">
            <li><a class="icono" href="/usuario/registrar" target="__blank">Crea tu cuenta <i class="fas fa-user-plus"></i></a></li>
            <li><a class="icono" href="usuario/ingresar" target="__blank">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a class="icono" href="/carrito" target="__blank">Mis Compras <i class="fas fa-shopping-basket"></i></a></li> 
        </ul>
        
        
        </section>        
    </nav> 
    <!--Solo mostrar en celular-->

</header>