<nav class="navbar navbar-expand-lg  navbar-dark  fixed-top miNavBar" style="background-color:#012641;" > 

    <figure class="navbar-brand"><img src="/images/logo-sandy-chico.png"  alt="Logo sandals" width="100" height="34"></figure>
    <!-- <a class="navbar-brand" href="/images/logo-sandy.png">Sandy</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link " href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
        </li>
      </ul>
      <ul class="my-2 my-lg-0 navbar-nav">
      <% if(locals.usuario) { %> 
              <!--Aquí dispongo  el acceso sólo al o los usuarios administradores-->
  
        <% if(locals.usuario.role===9) { %>
          <li class="nav-item">
              <a class="nav-link" href="/administrar">Administrar</a>
          </li>
        <%}%>  
        
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/carrito"><ion-icon name="cart-outline"></ion-icon>
               <span class="badge badge-info"> <!--Aca debo imprimir carritoCantidad -->  </span></a> 
  
        
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/logout">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon></a>
        </li>
        <li class="nav-item">
          <img src="/images/usuarios/<%=locals.usuario.image %>"    width = '30' style= 'border-radius: 100%;'alt="">
        </li>
      <% } else { %>  
  
        <!--Cuando no estoy logueado debería ver esto-->
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/registro">Registro</a>
        </li>
      <%}%>  
      </ul>
    </div>
  </nav>  
  
  <header>
    <div class="header-1">
        <a href=""><img src="images/logo-sandy-4.png" alt=""></a>
    
        <div class="form-container">
            <form action="">
                <input type="search" placeholder="search products" id="search" /> 
                <label for="search" class="fas fa-search"></label>
            </form>
        </div>
    
    </div>
    <div class="header-2">
    
        <div id="menu" class="fas fa-bars"></div>
    
        <nav class="navbar">
            <ul>
                <li><a class="active" href="#">Inicio</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="#arrival">Productos</a></li>
                <li><a href="#featured">Destacados</a></li>
                <li><a href="#gallery">Galeria</a></li>
                <li><a href="#deal">Descuentos</a></li>
            </ul>
    
            <ul>
            <% if(locals.usuario) { %> 
                  <!--Aquí dispongo  el acceso sólo al o los usuarios administradores-->
      
            <% if(locals.usuario.role===9) { %>
              <li>
                  <a href="/administrar">Administrar</a>
              </li>
            <%}%>  
            
            <li>
              <a href="/usuarios/carrito" ><ion-icon name="cart-outline"></ion-icon>
                <span class="badge badge-info"> <!--Aca debo imprimir carritoCantidad -->  </span></a>
            </li>
            <li>
              <a href="/usuarios/logout">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon></a>
            </li>
            <li>
              <img src="/images/usuarios/<%=locals.usuario.image %>" width = '30' style= 'border-radius: 100%;'alt="">
            </li>
            <% } else { %>  
      
            <!--Cuando no estoy logueado debería ver esto-->
            <li>
              <a href="/usuarios/login">Login</a>
            </li>
            <li>
              <a href="/usuarios/registro">Registro</a>
            </li>
            <%}%>
          </nav>
    </div>
  </header>