*{
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/*Etiquetas generales por orden de aparición con sus respectivos hovers*/

body{
    color: #03264C;
    background-color: #B9BDAD;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:#03264C;
}

p{
    font-size: 0.75em;
}

main{
    background-color: #B9BDAD;
    widows: 90%;
    margin:auto;
}

form{
    width:100%;
}

/*Clases*/

.container-input{
    width:100%;
    margin:1em auto;
}

.radius-options{
    margin:1.25em;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.container-3{
    margin: 1em auto;
    width:90%;
}

.principal-label{
    font-weight: bold;
    color:#3a3a3a;
    width:100%;
}

[type="checkbox"], [type="radio"] {
    margin-right:0.625em;
}

.container-4{
    margin:1.5625em auto;
    width:90%;
}

.checkbox{
    margin:1.25em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.options{
    margin:0.625em;
}

.container-button{
    width:90%;
    margin:0.625em auto;
}


/*ID's*/

#titulos-1{
    color: black;
    text-align:center;
    text-decoration: underline;
}

#genero{
    margin-left:2.5em;
}

#foto-perfil-subir{
    width:100%;
    border-radius: 0.25em;
    border: none;
    margin:1.25em auto;
    
}

#container-5{
    width:100%;
    border-radius: 0.25em;
    border: none;
    padding:0.75em;
    margin:0.625em auto;
}

#boton-enviar{
    background-color:#012641;
    color: #ffffff;
    border-color: transparent;
    width:100%;
    padding:0.625em;
    border-radius: 0.25em;
    display: block;
    margin: auto;
}

#boton-enviar:hover{
    background-color:  #114267;
}

/*MQ Tablet Smartphone*/

@media(min-width: 568px){

    .container-input, .container-3, .container-4, .container-button{
        margin:0.625em auto;
        max-width: 30.4375em;
    }
}

/*MQ PC*/

@media(min-width: 837px){

    .container-input, .container-3, .container-4, .container-button{
        margin:0.625em auto;
        max-width: 30.4375em;
    }
    
    .container-button{
        max-width:30.4375em;
    }
    
}