*{
    box-sizing: border-box;
}

/*Etiquetas generales por orden de aparición con sus respectivos hovers*/

body{
    font-family: 'Lexend Mega';
    color: #03264C;
    background-color: #ebebeb;
    margin: 5px;;
    padding:5px;
}


input{
    border-radius: 0.25em;
    border: none;
    padding:0.75em;
    width:100%;
    margin: auto;
}


/*Clases + IDS*/


.titles{
    font-size: 1.5em;
    columns: #000000;
}

.container-input{
    margin:1.25em auto;
    width: 85%;
}

.container-button{
    width:85%;
    margin:auto;
    margin-bottom: 2em;
}

#titulos-1{
    text-align:center;
    background-color: #ebebeb;
    color:#666666;
}


#boton-enviar{
    background-color:#0047af;
    color: #ffffff;
    border-color: transparent;
    width:100%; /*100% ocupa todo el ancho*/
    padding:0.63em;
    border-radius: 0.25em;
    display: block;
    margin: auto;
}

#boton-enviar:hover{
    background-color:  black
    ;
}


/*MQ Tamaño Medio*/

@media(min-width: 568px){


    .contenedor-input, .container-4, .contenedor-button{
        margin:1.25em auto;
        max-width: 30.4375em;
    }

    .contenedor-button{
        margin-bottom: 2.5em;
        max-width:30.4375em;
    }

}

/*MQ PC*/

@media(min-width: 837px){

    .contenedor-input, .contenedor-button{
        margin:1.25em auto;
        max-width: 30.4375em;
    }

    .contenedor-button{
        margin-bottom: 2.5em;
    }

}
