*{
    box-sizing: border-box;
}

/*Clases*/


.container-input{
    width:90%;
    margin:1em auto;
}

.container-3{
    margin: 1em auto;
    width:90%;
}

.principal-label{
    font-weight: bold;
    color:#3a3a3a;
    width:100%;
}


.container-4{
    margin:1.5625em auto;
    width:90%;
}


.container-button{
    width:90%;
    margin:0.625em auto;
}

/*IDS*/

#titulos-1{
    color:#666666;
    background-color: #ebebeb;
    text-align:center;
}

#perfil-vendedor{
    margin-left:2.5em;
}

#foto-perfil-subir{
    width:100%;
    border-radius: 0.25em;
    border: none;
    margin:1.25em auto;
    color: #666666
}

#container-5{
    width:100%;
    border-radius: 0.25em;
    border: none;
    padding:0.75em;
    margin:0.625em auto;
    color: #666666
}

#boton-enviar{
    color: #ffffff;
    border-color: transparent;
    width:100%;
    padding:0.625em;
    border-radius: 0.25em;
    display: block;
    margin: auto;
}

#boton-enviar:hover{
    background-color:  white;
}




/*MQ Tablet */

@media(min-width: 568px){

    .container-input, .container-3, .container-4, .container-button{
        margin:0.625em auto;
        max-width: 30.4375em;
    }

/*MQ PC*/

@media(min-width: 837px){

    .container-input, .container-3, .container-4, .container-button{
        margin:0.625em auto;
        max-width: 30.4375em;
    }
    
    .container-button{
        max-width:30.4375em;
    }
}
}
