<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')   %>
<body>
    <!-- Header -->
    <%- include('../partials/header')   %>
    <main>
        <article class="pd-cart-container">
            <h1 class="pd-cart-title">Tu carrito de compras</h1>
            <!-- Referencias -->
            <section class="pd-cart-top-container">
                <!-- Nombre -->
                <section class="pd-cart-top-name">
                    <p>Item</p>
                </section>
                <!-- Precio -->
                <section class="pd-cart-top-price">
                    <p>Precio unitario</p>
                </section>
                <!-- Cantidad -->
                <section class="pd-cart-top-quantity">
                    <p>Cantidad</p>
                </section>
                <!-- Subtotal -->
                <section class="pd-cart-top-subtotal">
                    <p>Subtotal</p>
                </section>
            </section>
            <!-- Item 1 -->
           
                <article class="pd-cart-item-container">
                    <!-- Nombre -->
                <section class="pd-cart-item-itemname">
                    <p>Crocs Classic Unisex</p>
                </section>
                <!-- Precio -->
                <section class="pd-cart-item-itemprice">
                    <p>$3500</p>
                </section>
                <!-- Cantidad -->
                <section class="pd-cart-item-itemquantity" id="test">
                    <input type="number" min="1" max="100" value="1">
                </section>
                <!-- Subtotal -->
                <section class="pd-cart-item-itemsubtotal">
                    <p>$3500</p>
                </section>
                <!-- Eliminar -->
                <section class="pd-cart-item-delete-container">
                    <button class="pd-cart-item-delete-button"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </section>        
                </article>
                
            <!-- Item 2 -->
           
                <article class="pd-cart-item-container">
                    <!-- Nombre -->
                <section class="pd-cart-item-itemname">
                    <p>Crocs Mujer Due Sport Clog Pink</p>
                </section>
                <!-- Precio -->
                <section class="pd-cart-item-itemprice">
                    <p>$3000</p>
                </section>
                <!-- Cantidad -->
                <section class="pd-cart-item-itemquantity">
                    <input type="number" min="1" max="100" step="12" value="1">
                </section>
                <!-- Subtotal -->
                <section class="pd-cart-item-itemsubtotal">
                    <p>$3000</p>
                </section>
                <!-- Eliminar -->
                <section class="pd-cart-item-delete-container">
                    <button class="pd-cart-item-delete-button"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </section>        
                </article>
                
            <!-- Item 3 -->
           
                <article class="pd-cart-item-container">
                    <!-- Nombre -->
                <section class="pd-cart-item-itemname">
                    <p>Sandalias Gomon Sueco Plataforma Trenzado</p>
                </section>
                <!-- Precio -->
                <section class="pd-cart-item-itemprice">
                    <p>$2000</p>
                </section>
                <!-- Cantidad -->
                <section class="pd-cart-item-itemquantity">
                    <input type="number" min="1" max="100" step="12" value="1">
                </section>
                <!-- Subtotal -->
                <section class="pd-cart-item-itemsubtotal">
                    <p>$2000</p>
                </section>
                <!-- Eliminar -->
                <section class="pd-cart-item-delete-container">
                    <button class="pd-cart-item-delete-button"><i class="fas fa-trash-alt"></i>Eliminar</button>
                </section>        
                </article>
                
            <!-- Total -->
            <section class="pd-cart-total-container">
                <h1>Total: $8500</h1>
            </section>
            <!-- Botones -->
            <section class="pd-cart-buttons-container">
                <!-- Ir a inicio -->
                <form action="/">
                    <button class="pd-cart-button hover-button-blue focus-button-blue">Continuar comprando</button>
                </form>
                <!-- Ir a checkout -->
                <form action="/checkout" method="POST">
                    <button class="pd-cart-button hover-button-blue focus-button-blue" type="submit">Proceder al pago</button>
                </form>
            </section>
        </article>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer')   %>
    <!-- Workaround (evita que se disparen transiciones al cargar la pagina en Chrome) -->
    <script> </script> 
</body>
</html>