<!DOCTYPE html>
<html lang="es">
<% include("../partials/head")  %> 

      

<body>    

    <%- include('../partials/header')   %>

    <main>

        <h2 id='titulos-1' class= 'titles' >Ingresá a tu cuenta</h2>
        
        <form>
            <div class='container-input'>
                <input type='text' id='nombreUsuario' placeholder="Télefono, e-mail o usuario" name='nombreUsuario'>
            </div>
            <div class='container-input'>
                <input type='password' id='password' placeholder="Clave" name='pasword'>
            </div>
            <div class='container-button'>
                <button type='submit' id='boton-enviar'><a class='send-text' href="/">Continuar</a></button>
            </div>
        </form>

        <h4 id='titulos-1' class= 'titles' >¿No tenés cuenta?</h4>

        <form>
            <div class='container-button'>
                <button type='submit' id='boton-enviar'><a class='send-text' href="/register">Crear Cuenta</a></button>
            </div> 
        </form>

    </main>

    <%- include('../partials/footer')   %>

</body>
</html>